.calendar {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 0;
  min-height: unset;
  border: none;
  cursor: pointer;

  thead {
    display: none;
  }

  .sr-only {
    display: none;
  }
}

.ContributionCalendar-label {
  fill: #ccc;
  font-size: 11px;
  display: none;
}

.contrib-column {
  display: none !important;
}

:root {
  --color-calendar-graph-day-bg: #dddbdb;
  --color-calendar-graph-day-L0-bg: #40fd3b;
  --color-calendar-graph-day-L1-bg: #35d331;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L3-bg-dark: #0c802e;
  --color-calendar-graph-day-L4-bg: #0a4208;
  --color-calendar-graph-day-L4-bg-dark: #0d5b0c;
}

.ContributionCalendar-day[data-level="0"] {
  background-color: var(--color-calendar-graph-day-bg);
}

.ContributionCalendar-day[data-level="1"] {
  background-color: var(--color-calendar-graph-day-L1-bg);
}

.ContributionCalendar-day[data-level="2"] {
  background-color: var(--color-calendar-graph-day-L2-bg);
}

.ContributionCalendar-day[data-level="3"] {
  background-color: var(--color-calendar-graph-day-L3-bg);
}

.ContributionCalendar-day[data-level="4"] {
  background-color: var(--color-calendar-graph-day-L4-bg);
}

.dark {
  .ContributionCalendar-day[data-level="0"] {
    background-color: rgb(51 65 85);
  }

  .ContributionCalendar-day[data-level="3"] {
    background-color: var(--color-calendar-graph-day-L3-bg-dark);
  }

  .ContributionCalendar-day[data-level="4"] {
    background-color: var(--color-calendar-graph-day-L4-bg-dark);
  }
}

h2.f4.text-normal.mb-3 {
  display: none;
}

#user-activity-overview {
  display: none;
}
