ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  text-decoration: underline;
}

p {
  text-align: justify;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.social-icons {
  text-align: center;
}

.social-icon {
  display: inline-block;
  max-width: 45px;
  margin: 10px;

  img {
    object-fit: cover;
    width: 100%;
  }
}
