ul {
  list-style-type: disc;
  padding-left: 20px;

  li {
    color: #444444;
  }
}

a {
  text-decoration: underline;
}

p {
  color: #444444;
  text-align: justify;
}

span.highlight {
  color: #2777b7;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.social-icons {
  text-align: center;
}

.social-icon {
  display: inline-block;
  max-width: 45px;
  margin: 10px;

  img {
    object-fit: contain;
    width: 100%;
  }
}