body{
    margin:0;
    font:normal 75% Ubuntu, Arial, Helvetica, sans-serif;
}
canvas {
    display: block;
    vertical-align: bottom;
}

.btn-custom {
    font-style: normal !important;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 20px !important;
    font-family: Ubuntu, Arial, Helvetica, sans-serif !important;
}

#btn-resume, #btn-resume-download {
    font-style: normal !important;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 20px !important;
    font-family: Ubuntu, Arial, Helvetica, sans-serif !important;
}

#particles-js {
    position: absolute;
    width: 100%;
    min-height: 600px;
    background: #323840;
}

awesome-button {
    padding: 2px;
}

awesome-button.btn-resume {
    padding-right: 1px;
}

awesome-button.btn-resume-download {
    padding-left: 1px;
}

.user-icon {
    max-height: 150px;
    border-radius: 100%;
    border: 1px solid #323840;
}

.text {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    color: #fff;
    min-width: 70%;
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
    .text {
        width: fit-content;
    }
}
hr {
    width: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}

h1 {
    font-size: 24px;
    font-weight: 100;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    h1{
        font-size: 36px;
    }
    .lead {
        font-size: 16px;
    }
}

a,
a:visited {
    color: #e34234;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

a:hover,
a:focus {
    color: #ba160c;
}
