body{
    margin:0;
    font:normal 75% Ubuntu, Arial, Helvetica, sans-serif;
}
canvas {
    display: block;
    vertical-align: bottom;
}

.btn-custom {
    font-style: normal !important;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 20px !important;
    font-family: Ubuntu, Arial, Helvetica, sans-serif !important;
}

#btn-custom {
    font-style: normal !important;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 20px !important;
    font-family: Ubuntu, Arial, Helvetica, sans-serif !important;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #323840;
}

.text {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    color: #fff;
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 700;
    letter-spacing: -1px;
}

a,
a:visited {
    color: #e34234;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

a:hover,
a:focus {
    color: #ba160c;
}
