
.btn-custom {
    display: inline-block;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    margin: 7px 5px;
    border: 1px solid;
    border-bottom: 4px;
    box-shadow: 0 8px 16px #0d0e10;
}
.btn-custom:hover {
    border-bottom: 2px;
    box-shadow: 0 2px 4px #101117;
}
.btn-custom:active {
    box-shadow: 0 0 #0d0d11;
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom:visited {
    color: #f1f1f1;
    -webkit-transition: box-shadow 0.5s ease;
       -moz-transition: box-shadow 0.5s ease;
        -ms-transition: box-shadow 0.5s ease;
         -o-transition: box-shadow 0.5s ease;
            transition: box-shadow 0.5s ease;
}

.btn-blue {
    background-color: #006FB5;
    border-color: #0068aa;
}
.btn-grey{
    background-color: #353A43;
    border-color: #262932;
}
.btn-red{
    background-color: rgba(192, 57, 43, 0.7);
    border-color: rgba(106, 33, 26, 0.7);
}


#btn-amcat, #btn-resume, #btn-resume-download, #btn-hackerearth {
    font-style: normal !important;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 20px !important;
    font-family: Ubuntu, Arial, Helvetica, sans-serif !important;
}